# Ignore bin and out directories
bin/
out/

# Ignore build directories
build/
target/

# Ignore IDE-specific files and directories
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Ignore Maven wrapper files
!.mvn/wrapper/maven-wrapper.jar

# Ignore all files except src directories
!**/src/